{% extends 'app/base.html'%}
{% load static %}
{%block content %}
<section style="margin:20px;background-color:white;color:#613F75;">
    <img src="static/images/event.jpeg" style="float:right;height:707px;width:800px;">
    <div style="height:700px;width:600px;position:relative;display:inline-block;font-size:23px;font-family: 'Nanum Myeongjo', serif;">
        <p style="position:absolute;top:90px;left:80px;">ONE SYSTEM FOR YOUR ENTIRE EVENT <br> <br>
            Any event is such a special and intimate celebration.It is something you will capture carefully in pictures,talk and laugh with your family and friends.With a team passionately dedicated to translating your wishes into reality,we will use our creativity to craft you an event as unique as it can be.So breathe,relax.You have found us. <br>
            The Eventor leads you through a successful event – starting with planning, on to on-site performance and finishing off with follow-up.</p>
    </div>
</section>
{% endblock %}
